<!doctype html>
<html lang="tr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <title>Sedat Basaran</title>
</head>

<body data-bs-spy="scroll" data-bs-target="#navbar">

  <nav id="navbar" class="navbar navbar-expand-md navbar-dark arkaplan fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="img\sedatresim.jpg" alt="">
        <span>SEDAT BAŞARAN</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#about">HAKKIMDA</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#experience">ÖZGEÇMİŞ
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#education">EĞİTİM
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#skills">YETENEKLER
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#interest">HOBİLER
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#awards">SERTİFİKALAR
            </a>
          </li>
        </ul>


      </div>
    </div>
  </nav>

  <section class="sayfa">
	<div class="container-fluid">
    <section id="about" class="about ortaksayfa">
      <div class="baslik ">
        <h1 class="baslik-fontu"><span class="color1">SEDAT</span> <span class="color2">BAŞARAN</span> </h1>
      </div>

      <div class="adress baslik-fontu">

        <span class="color3">ŞEHREMİNİ MAH. 34014 · İSTANBUL - FATİH · (534) 320-3266 · </span> <span class="color2">SEDATBASARAN14@GMAIL.COM</span>

      </div>

      <div class="adres-yazisi color3">
      Altınbaş (Eski adıyla Kemerburgaz) üniversitesi Ekonomi (İngilizce) bölümünden mezunum. Gerek üniversite döneminde gerekse hayatımın çeşitli döneminde kendimi geliştirebileceğim, bana yeni şeyler katacağını düşündüğüm bir çok alanda yer almaya çalıştım. Buna çok basit bir örnek verecek olursam küçük yaşlarda Laleli'de esnaflıkla başlayan iş hayatım üniversite sonuna kadar insan ilişkilerinde yeni alanlarda yer almam için bana büyük bir olanak sağladı. Çalıştığım iş alanlarından ve okuduğum bölümden de yola çıkarak pazarlama, güncel ekonomik iş alanlarında değişen/gelişen olayların takibi ve insan ilişkileri konusunda kendime güvendiğimi söyleyebilirim. Bu alanlarda yeni projelerde yer almak ve kendime daha fazla şeyler katmak için oldukça hevesliyim. Bağlı olacağım firmaya katacağım ve firmanın bana katacağı birçok şey olduğuna inanıyorum.
      </div>

      <div class="iconlar">
        <a href="https://www.linkedin.com/in/sedatbasaran/" target="_blank"><span class="icon-border"> <i class="fab fa-linkedin-in"></i> </span></a>
        <a href="https://github.com/SedatBasaran14" target="_blank"><span class="icon-border"> <i class="fab fa-github"></i> </span></a>
        <a href="https://twitter.com/sedatbasaran" target="_blank"><span class="icon-border"> <i class="fab fa-twitter"></i> </span></a>
        <a href="https://www.facebook.com/sedatbasarann/" target="_blank"><span class="icon-border"> <i class="fab fa-facebook-f"></i> </span></a>
      </div>

    </section>
    <hr>

    <section id="experience" class="ortaksayfa">
      <div class="baslik-fontu">
        <h1 class="color1">ÖZGEÇMİŞ</h1>

      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="baslik-fontu">

            <h2 class="color1">DOSYA SORUMLUSU</h2>
            <h3 class="color3">EUROCROSS</h3>
          </div>
          <p class="color3">Bu iş tecrübemin bana en büyük getirisi baskı altında nasıl çalışılması gerektiği üzerine oldu. Takım çalışması, stres/baskı altında çalışma ve insan ilişkileri konusunda kendimi geliştirdiğim bir iş deneyimimdi.</p>

        </div>
        <div class="col-md-3">
          <div class="tarih">
            EYLÜL 2018 - GÜNÜMÜZ
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="baslik-fontu">

            <h2 class="color1">SATIN ALMA VE PAZARLAMA STAJYERİ</h2>
            <h3 class="color3">ALTINBAŞ ÜNİVERSİTESİ
            </h3>
          </div>
          <p class="color3">Okulumuzun Sosyal Bilimler Enstitüsü pazarlama müdürü'nün yanında uzun bir süre stajyer öğrenci olarak bulundum. Bu departmanda geçirdiğim süre boyunca proje yönetimi, takım çalışması ve insan ilişkileri konusunda çok fazla bilgi ve deneyim sahibi oldum.

          </p>

        </div>
        <div class="col-md-3">
          <div class="tarih">
            HAZİRAN 2016 - HAZİRAN 2018
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="baslik-fontu">

            <h2 class="color1">MÜŞTERİ TEMSİLCİSİ / KASİYER</h2>
            <h3 class="color3">DEFACTO
            </h3>
          </div>
          <p class="color3">Bu iş tecrübemin bana en büyük getirisi baskı altında nasıl çalışılması gerektiği üzerine oldu. Takım çalışması, stres/baskı altında çalışma ve insan ilişkileri konusunda kendimi geliştirdiğim bir iş deneyimimdi.

          </p>

        </div>
        <div class="col-md-3">
          <div class="tarih">
            HAZİRAN 2015 - HAZİRAN 2016
          </div>

        </div>
      </div>



    </section>
    <hr>
    <section id="education" class="ortaksayfa">

      <div class="baslik-fontu">
        <h1 class="color1">EĞİTİM</h1>

      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="baslik-fontu">

            <h2 class="color1">ALTINBAŞ ÜNİVERSİTESİ
            </h2>
            <h3 class="color3">İKTİSADİ VE İDARİ BİLİMLER FAKÜLTESİ</h3>
          </div>
          <p class="color3">İKTİSAT / İNGİLİZCE <br>
            </p>

        </div>
        <div class="col-md-3">
          <div class="tarih">
            EYLÜL 2014 - OCAK 2020

          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="baslik-fontu">

            <h2 class="color1">HÜSEYİN BÜRGE ANADOLU LİSESİ

            </h2>
            <h3 class="color3">EŞİT AĞIRLIK</h3>
          </div>
          <p class="color3"></p>

        </div>
        <div class="col-md-3">
          <div class="tarih">
            EYLÜL 2009 - HAZİRAN 2013

          </div>

        </div>
      </div>





    </section>
    <hr>

    <section id="skills" class="ortaksayfa">

      <div class="baslik-fontu mb-3">
        <h1 class="color1">YETENEKLER</h1>
        <h3 class="color3">PROGRAMLAMA DİLLERİ</h3>
      </div>
      <ul class="color3 mt-1 mb-3">
        <li class="list-inline-item fab fa-html5 dev-icons"></li>
        <li class="list-inline-item fab fa-css3 dev-icons"></li>
        <li class="list-inline-item fab fa-js-square dev-icons"></li>
        <li class="list-inline-item fab fa-angular dev-icons"></li>
        <li class="list-inline-item fab fa-react dev-icons"></li>
        <li class="list-inline-item fab fa-node-js dev-icons"></li>
        <li class="list-inline-item fab fa-sass dev-icons"></li>
        <li class="list-inline-item fab fa-less dev-icons"></li>
        <li class="list-inline-item fab fa-wordpress dev-icons"></li>
        <li class="list-inline-item fab fa-gulp dev-icons"></li>
        <li class="list-inline-item fab fa-grunt dev-icons"></li>
        <li class="list-inline-item fab fa-npm dev-icons"></li>
      </ul>

      <div class="baslik-fontu mb-3">
        <h3 class="color3">BİLDİĞİM DİLLER VE BİLGİSAYAR PROGRAMLARI</h3>
      </div>
      <div class="color3 d-block spec-font"> <i class="fas fa-check"></i> İNGİLİZCE</div>
      <div class="color3 d-block spec-font"> <i class="fas fa-check"></i> MİCROSOFT OFFİCE</div>
      <div class="color3 d-block spec-font"> <i class="fas fa-check"></i> ADOBE</div>
      <div class="color3 d-block spec-font"> <i class="fas fa-check"></i> R STUDİO</div>


    </section>

    <hr>


    <section id="interest" class="ortaksayfa">

      <div class="baslik-fontu">
        <h1 class="color1">HOBİLER</h1>
      </div>

      <p class="color3 spec-font"> Spora inanılmaz ilgim vardır. Tüm spor dallarını izlemeyi ve onları denemeyi çok severim.
        <br><br>
        Boş zamanlarımda gezmeyi, arkadaşlarımla plan yapmayı ve film izlemeyi tercih ederim.</p>


    </section>

    <hr>
    <section id="awards" class="ortaksayfa">
      <div class="baslik-fontu">
        <h1 class="color1">SERTİFİKALAR</h1>
      </div>

      <div class="color3 d-block spec-font"> <i class="fas fa-trophy text-warning"></i> Finansta kariyer sempozyumu</div>
      <div class="color3 d-block spec-font"> <i class="fas fa-trophy text-warning"></i> Marmara Ekonomi Zirvesi</div>
      <div class="color3 d-block spec-font"> <i class="fas fa-trophy text-warning"></i> TechProEducation - WebDeveloper eğitimi (6 ay)</div>
      <div class="color3 d-block spec-font"> <i class="fas fa-trophy text-warning"></i> TechProEducation - Java eğitimi (6 ay)</div>



    </section>

	</div>

  </section>










  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="js/script.js" charset="utf-8"></script>

  <script>
    window.FontAwesomeConfig = {
      searchPseudoElements: true
    }
  </script>
</body>
<!-- <i class="fab fa-github"></i> -->

</html>
